/* Growl messages positioned below Marvin's top bar. */
.ui-growl {
	top: 60px;
}

/* Input fields manipulation. */
.ui-inputfield {
    width: 100%;
    padding: 6px 12px;
}
.ui-selectonemenu {
	width: 100%;	
}
.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 28px;
	padding-top: 5px;
}
.ui-datatable {
	margin-bottom: 5px;
}
.ui-datatable tr.ui-state-highlight {
	background: #0081c2;
}
form#filterForm .ui-selectonemenu-label {
	text-align: right;
}
form#filterForm .ui-panelgrid-cell {
	padding: 4px 3px;
}
form#filterForm .ui-button {
	padding: 6px 6px;
}

/* Password fields should occupy 50% instead. */
.ui-password {
	width: 50%;
}

/* Responsive buttons using bootstrap styles. */
.ui-grid .ui-button {
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	vertical-align: middle;
}
.ui-grid .fa-fw {
	position: absolute;
	left: 0;
	top: 7px;
	bottom: 0;
	width: 32px;
	height: 100%;
	line-height: 34px;
	font-size: 1.4em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
	vertical-align: middle;
}
.ui-grid .ui-button-text {
	text-align: left;
}